#alert{
    position: fixed;
    top: 11.5%;
    color: white;
    padding: 20px;
    width: auto;
    max-width: 50%;
    font-weight: 600;
    border-radius: 8px;
    transition: right 0.3s ease-out;
    z-index: 3;
}

.correct{
    background-color: green;
}

.no-correct{
    background-color: rgb(240, 54, 54);
}

.no-visible{    
    right: -70%;
}

.visible{
    right: 5%;
}

@media (max-width: 490px){
    #alert{
        max-width: 65%;
    }
}