:host{
    --blue: #0059c5;
    --gray: rgb(95, 95, 95);
    --box-shadow: 0px 0px 1.5px 1px rgba(255, 255, 255, 0.65);
    --border-white: 1.5px solid white;
}

*,html{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    font-weight: 700;
}

#content{
    position: static;
    min-height: 100vh;
    max-width: 100%;
    height: auto;
    max-height: max-content;
    background: url("../../../assets/images/fondo_login.jpg");
    background-position-y: 15%;
    background-position-x: center;
}

#loginContent{
    width: 380px;
    height: auto;
    max-height: 50%;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    background-color: #5f96e4c7;
    padding: 2.5% 3.5%;
}

button{
    background-color: var(--blue);
    border: var(--border-white);
    border-radius: 10px;
    font-weight: 700;
}

label{
    font-weight: 500;
    font-size: large;
}

i{
    font-size: larger;
    background-color: #58585856;
    border: var(--border-white);
}

#iconPassword{
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border-left: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

#iconPassword:hover{
    color: var(--blue);
}

input{
    border-radius: 5px;
    font-size: medium;
    font-weight: 500;
    background-color:rgba(255, 255, 255, 0.1); 
    color: white;
    border: var(--border-white);
}
#inputGroup input{
    border-right: 0;
}

input::placeholder {
    font-size: medium;
    color: white;
}

#checkbox{
    margin-left: 1.5%;
}

#checkbox input{
    margin-right: 2%;
    cursor: pointer;
}

#checkbox input:checked{
    background-color: var(--blue);
}

#checkbox label{
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}

#divButtons{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login{
    background-color: rgb(140, 140, 140);
    border: var(--border-white);
    border-radius: 10px;
    font-weight: 700;
}

#userType{
    width: auto;
}

select, option{
    cursor: pointer;
    color: black;
}

@media (max-width: 1175px){
    #loginContent{
        width: 40%;
    }
}

@media (max-width: 975px){
    #loginContent{
        width: 50%;
    }
}

@media (max-width: 690px){
    #loginContent{
        width: 65%;
        padding: 5% 6%;
    }
    #divButtons{
        flex-direction: column;
        gap: 2vh;
    }
}
@media (max-width: 490px){
    #loginContent{
        width: 80%;
    }
}